.container {
  min-height: 100vh;
  display: grid;
  place-items: center;
  row-gap: 3px;
  height: 100vh;
  border: 20px solid #999999;
  background-color: black;
  color: white;
}

.gridRow{
  display: grid;
  grid-template-rows: repeat(24, 1fr);
  row-gap: 3px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  column-gap: 3px;
}

.redBox {
  height:24px;
  width: 24px;
  background-color: red;
}

.blueBox {
  height:24px;
  width: 24px;
  background-color: blue;
}

.whiteBox{
  height:24px;
  width: 24px;
  background-color: white;
}

.yellowBox{
  height:24px;
  width: 24px;
  background-color: yellow;
}